
<div class="row">
    <div class="col-md-12">
        <div class="blog-posts" *ngFor="let post of posts">
            <article class="post post-large" >

                <div class="post-date">
                    <span class="day">20</span>
                    <span class="month">june</span>
                </div>

                <div class="post-content">

                    <h2><a href="">{{post.title}}</a></h2>
                    <p>{{post.name}}</p>

                    <div class="post-meta">
                        <span><i class="fa fa-comments" value=""></i><a [routerLink]="['/comments',post.id]">Comments</a></span>
                    </div>

                </div>
            </article>

        </div>
    </div>

</div>